@font-face {
  font-family: "ungai";
  src: url("./fonts/ungai-webfont.woff2") format("woff2"),
    url("./fonts/ungai-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "torii";
  src: url("./fonts/japan_gate_demo-webfont.woff2") format("woff2"),
    url("./fonts/japan_gate_demo-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --ronin-orange: #d8bf00;
  --box-shadow: #1816051f;
  --mini-box-shadow: 0px 0.7rem 1.5rem 0px var(--box-shadow);
  --ronin-light: #ffcf02;
  --background-color: #1e2328;
  --text-color: #f0f0f0;
  --form-colour: #f5b301;
}
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  display: flex;
  width: 100vw;
  height: 100vh;
  font-family: "torii";
}

body > div:first-child {
  background-image: url("./images/kimono.png");
  width: max(40%, 40rem);
  flex: 1 0 auto;
  background-position: -32rem;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  font-family: "ungai";
  font-size: 8rem;
  color: var(--ronin-orange);
  background-color: #18160562;
  margin-top: 20rem;
  text-align: center;
  padding: 1rem 5rem;
}

.credit-line {
  color: #e4d9d9;
  text-align: center;
  opacity: 0.8;
}

img {
  width: 1.4em;
  vertical-align: -3rem;
  color: var(--ronin-orange);
  display: inline-block;
}

a:link,
a:visited {
  color: var(--ronin-orange);
  text-decoration: none;
}

a:hover {
  color: var(--ronin-light);
}

.content {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--text-color);
  letter-spacing: 1px;
}
.content > div:first-child {
  font-size: 2.2rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 33vh;
}

.content > div:nth-child(2) {
  background-color: var(--form-colour);
  box-shadow: 0px 0.7rem 1.5rem 0px #adab951f;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  flex: 2;
  height: 33vh;
}

.content > div {
  padding: 2rem 5rem;
}

.content > div:last-child {
  min-height: 23vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

label {
  font-size: 1.1rem;
  letter-spacing: 1px;
}

div:has(> form) {
  color: #1e2328;
}
form {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
}

form > div {
  display: flex;
  flex-direction: column;
}

input {
  border: 1px solid #e5e7eb;
  border-radius: 4px;
  width: 27rem;
  height: 3rem;
  margin-right: 6rem;
  font-size: 1.5rem;
  padding: 0 0.5rem;
}

input:invalid {
  border-color: red;
}

input:valid {
  border: 2px solid green;
}

input:placeholder-shown {
  border-color: #e5e7eb;
}

input:hover {
  box-shadow: var(--mini-box-shadow);
}

input:focus {
  box-shadow: 2px 3px 15px 1px var(--box-shadow);
  border: 2px solid blue;
  outline: none;
}

button {
  padding: 1.2rem 3rem;
  border-radius: 8px;
  width: 23rem;
  font-weight: 900;
  letter-spacing: 2px;
  font-size: 1.4rem;
  background-color: var(--ronin-light);
  color: #1e2328;
  border: none;
  box-shadow: 0px 0.7rem 1.5rem 3px #adab951f;
}

span {
  color: var(--ronin-light);
  font-weight: 600;
}

h2 {
  font-size: calc(initial * 1.2);
  /* font-family: "ungai"; */
}
